extends layout

block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    else
        - let doorsid = toShow._id
        - let doors_type = toShow.doors_type
        - let doors_model = toShow.doors_model
        - let doors_price = toShow.doors_price
        - let actionid = "/resource/doors/" + doorsid
        script.
            let actionid = "#{actionid}"
        div
            div.row
                div(class='doorsAttr mr-3') doors ID is:
                div #{doorsid}
            div.row
                div(class='doorsAttr mr-3') doors Type is:
                div #{doors_type}
            div.row
                div(class='doorsAttr mr-3') doors model is:
                div #{doors_model}
            div.row
                div(class='doorsAttr mr-3') doors Price is:
                div #{doors_price}
        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
        
    script.
        function cancel() {
            // Go back to the home page for the doors collection
            window.location.href='/doors'
        }
    script.
        function deleteOnid() {
            console.log("starting delete")
            // delete first
            fetch(actionid, {
                method: 'DELETE' // Don't need a body for the delete
            }).then((resp) => {
                return resp.text(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Delete succeeded")
                window.location.href='/doors'
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
            });
        }