extends layout
 
block content
  h1 This is Doors Page
  -
    let doors = results
 
  .container-fluid
    .row
      each doors, index in results
        .col-sm-2
          .search-result(onclick=`buy(${index})`)
            h6 door_type: #{item.door_type}
            h6 door_model: #{item.door_model}
            h6 door_price: #{item.door_price}
 
  a(href="/") Back to index page
 
  script.
    function buy(index) {
        alert(`You purchased item ${index}`);
    }